[alias]
    # https://coderwall.com/p/euwpig/a-better-git-log
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[commit]
    gpgsign = true
[core]
    editor = vim
[gpg]
    format = ssh
[init]
    defaultBranch = main
[user]
    name = ev3nvy
    email = 12035264+ev3nvy@users.noreply.github.com
    # see: https://github.com/ev3nvy.keys
    signingKey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIE9us3IIf0kenAaT7Y8SzAh/3yBZkFNLcri9EItNf7Lp
