*

!.vscode/
!.vscode/extensions.json


!fish/
!fish/config.fish
!fish/fish_plugins

!git/
!git/.gitconfig

!keepassxc/
!keepassxc/keepassxc.ini

!vscodium/
!vscodium/User/
!vscodium/User/snippets/
!vscodium/User/snippets/*.json
!vscodium/User/keybindings.json
!vscodium/User/settings.json


!.editorconfig
!.gitignore
!justfile
!README.md
