*

!.vscode/
!.vscode/extensions.json

!metadata/
!metadata/.git.xml
!metadata/.vscode.xml
!metadata/fish.xml
!metadata/git.xml
!metadata/keepassxc.xml
!metadata/vscodium.xml


!fish/
!fish/config.fish
!fish/fish_plugins

!git/
!git/.gitconfig

!keepassxc/
!keepassxc/keepassxc.ini

!vscodium/
!vscodium/User/
!vscodium/User/snippets/
!vscodium/User/snippets/*.json
!vscodium/User/keybindings.json
!vscodium/User/settings.json


!.editorconfig
!.gitignore
!biome.jsonc
!configuration.nix
!flake.lock
!flake.nix
!hardware-configuration.nix
!justfile
!README.md
