*

!/.vscode/
!/.vscode/extensions.json

!/metadata/
!/metadata/.git.xml
!/metadata/.vscode.xml
!/metadata/fish.xml
!/metadata/git.xml
!/metadata/keepassxc.xml
!/metadata/vscodium.xml


!/fish/
!/fish/config.fish
!/fish/fish_plugins

!/git/
!/git/.gitconfig

!/keepassxc/
!/keepassxc/keepassxc.ini

!/nix/
!/nix/modules/
!/nix/modules/home-manager/
!/nix/modules/home-manager/*.nix
!/nix/modules/nixos/
!/nix/modules/nixos/*.nix
!/nix/shared/
!/nix/shared/host.nix
!/nix/systems/
!/nix/systems/*
!/nix/systems/*/default.nix
!/nix/systems/*/hardware-configuration.nix
!/nix/systems/*/home.nix

!/vscodium/
!/vscodium/User/
!/vscodium/User/snippets/
!/vscodium/User/snippets/*.json
!/vscodium/User/keybindings.json
!/vscodium/User/settings.json


!/.editorconfig
!/.gitignore
!/biome.jsonc
!/flake.lock
!/flake.nix
!/justfile
!/README.md
